<%- include('partials/header') %>

<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="/download">R H Y M E</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/download">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/play">Play</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/view">View Profile</a>
      </li>
    </ul>
  </div>
  
  <div class="collapse navbar-collapse text-right" id="navbarNav">
     <ul class="navbar-nav ml-auto">
         <li class="nav-item">
        <a class="nav-link active" href="/edit">Edit Profile <span class="sr-only">(current)</span></a>
         </li>
        <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
         </li>
     </ul>
  </div>
</nav>



<div class="container regBox">
 <% userList.forEach(function(user){ %>
  <div class="row editt">
    <div class="col-sm-8 ml-3">
      <div class="card border border-secondary cardReg">
        <div class="card-body">

          <!-- Makes POST request to /edit route -->
         
          <form action="/editAdmin" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input value="<%= user.username %>" type="email" class="form-control" name="username">
            </div>
              <div class="form-group">
              <label for="usr">Username</label>
              <input value="<%= user.usr %>" type="text" class="form-control" name="usr">
            </div>
            <div class="form-group">
              <label for="name">Full name</label>
              <input value="<%= user.name %>" type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
              <label for="number">Phone number</label>
              <input value="<%= user.phone %>" type="tel" class="form-control" name="number">
            </div>
            <div class="form-group">
              <input value="<%= user._id %>" type="hidden" name="id">
            </div>

           <div class="row">
          <button type="submit" class="btn btn-dark reg">Submit</button>
          </div>
          
            
          
          </form>

          <form action="/admindelete" method="post">
               <div class="form-group">
                 <input value="<%= user._id %>" type="hidden" name="id">
               </div>
                
                 <button type="submit" class="btn btn-dark reg">DELETE</button>
               
            </form>
       
        </div>
      </div>
    </div>


  </div>
 <% }) %>
</div>



<%- include('partials/footer') %>

